* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.floatleft {
  float: left;
}

#hamburger {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Space Mono', monospace;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 150px;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  left: -113px;
  transition: 0.7s;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
}

nav ul {
  padding-top: 20px;
}

.left {
  left: 0px;
  transition: 0.7s;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding-left: 20px;
  width: 100%;
  display: block;
}

nav ul li {
  display: block;
  height: 35px;
}

#holdder {
  width: 400%;
  height: 100%;
}

#home {
  width: 25%;
  height: 100%;
  background-color: grey;
  background-image: url(../img/bgone.jpg);
  background-size: cover;
}

#changebg {
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: 'Rubik', sans-serif;
}

#about {
  width: 25%;
  height: 100%;
  background-color: #cccccc;
  color: #515151;
  font-family: 'Rubik', sans-serif;
}

#about h1 {
  width: 100%;
  padding-left: 70px;
  font-family: 'Space Mono', monospace;
}

#abouttop {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 70px;
}

#aboutbottom {
  width: 100%;
  padding-left: 70px;
}

.col {
  width: 33.33%;
  float: left;
  padding-right: 30px;
}

.aboutbtns {
  width: 200px;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  background-color: #515151;
  color: #cccccc;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}

#face {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.eye {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: white;
  border: 2px solid black;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeball {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
}

#mouth {
  width: 100%;
  color: black;
  font-size: 50px;
  text-align: center;
}

#nose {
  width: 100%;
  color: black;
  font-size: 50px;
  text-align: center;
}

#eyes {
  width: 100%;
  display: flex;
  justify-content: center;
}

#clock {
  height: 100px;
  width: 280px;
  background-color: #1E1E1E;
  border: 4px double #34e820;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  text-align: center;
  color: #34e820;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#timer {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#timer p {
  margin-top: 40px;
}

#pythbtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#fotos {
  width: 25%;
  height: 100%;
  color: #cccccc;
  background-color: #515151;
}

#fotos h1 {
  width: 100%;
  padding-left: 70px;
  font-family: 'Space Mono', monospace;
}

#photowrap {
  width: 95%;
  padding-left: 70px;
  padding-top: 20px;
}

#photowrap img {
  width: 150px;
  border: 3px solid #cccccc;
  border-radius: 100px;
  margin: 10px;
}

#contact {
  width: 25%;
  height: 100%;
  background-color: #cccccc;
  color: #515151;
}

#contact h1 {
  width: 100%;
  padding-left: 70px;
  font-family: 'Space Mono', monospace;
}

form {
  width: 250px;
  padding-top: 70px;
  padding-left: 70px;
}

#contact input {
  font-family: 'Rubik', sans-serif;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact label {
  font-family: 'Rubik', sans-serif;
  padding: 10px;
}

#contactbtn {
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  font-family: 'Rubik', sans-serif;
  margin-left: 70px;
}

#overlay {
  background-color: rgb(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: -100%;
  position: fixed;
}

#box2 {
  background-color: red;
  height: 150px;
  width: 300px;
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#box {
  width: 500px;
  height: 200px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.8);
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40vh;
  padding-top: 20px;
  font-family: 'Space Mono', monospace;
  border-radius: 4px;
  -webkit-box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 9px 14px -2px rgba(0, 0, 0, 0.76);
}

#box h2 {
  font-weight: lighter;
  font-size: 20px;
}
